@import "./variables";

footer {
  border-top: 1px solid #323149;
  background-color: #25243d;

  .footer {
    margin: 40px 0;

    &__logo {
      img {
        object-fit: contain;
        height: 36px;
        width: 36px;
      }

      p {
        display: inline-block;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 21px;

        a {
          font-weight: bold;
          color: $text-logo-color;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &__legal-links {
      a {
        color: $main-text-color;
        font-size: 14px;
        line-height: 21px;
        transition: color 0.35s;

        &:not(:last-of-type) {
          &::after {
            content: "\B7";
            font-size: 18px;
            margin-left: 0.25rem;
          }
        }

        &:hover {
          color: #fff;
          text-decoration: none;

          &::after {
            color: $main-text-color;
          }
        }
      }
    }
  }
}
