@import "./variables";
@import "./mixins";

.main-section {
  position: relative;

  &__panel {
    margin: 100px 0;

    @include media-md {
      margin-bottom: 250px;
    }

    h1 {
      color: #fff;
      font-size: 56px;
      font-weight: 700;
      margin-bottom: 0;
    }

    &__body {
      margin-top: 32px;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      max-width: 630px;

      @include media-sm {
        max-width: 100%;
      }
    }

    &__footer {
      margin-top: 48px;
      font-size: 18px;
      font-weight: 500;
      color: $text-dark-color;
    }
  }

  &__bg-wrapper {
    position: absolute;
    z-index: -10;
    top: 40px;
    right: 0;
    height: 592px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    &__media {
      position: relative;
      max-width: 660px;
      width: 80%;
      height: 80%;
      display: flex;
      justify-content: flex-end;

      video {
        max-width: 100%;
        max-height: 100%;
        border-radius: 10%;
      }

      @include media-md {
        justify-content: center;
      }
    }

    @include media-md {
      top: 45%;
      height: 520px;
    }

    @include media-xs {
      height: 410px;
      top: 65%;
      justify-content: center;
    }
  }
}
