@import "./variables";
@import "./mixins";

.quotes-section {
  &__panel {
    $panel: &;

    h4 {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.5px;
      color: $text-logo-color;
      text-align: center;
    }

    &__quotes-grid {
      display: grid;
      margin: 56px 0;
      gap: 32px;
      grid-template-columns: repeat(2, 1fr);

      @include media-sm {
        grid-template-columns: repeat(1, 1fr);
      }

      #{$panel}__quote-contaier {
        padding: 32px;
        display: flex;
        min-height: 260px;
        background: linear-gradient(
          160deg,
          rgba(255, 255, 255, 0.4),
          rgba(255, 255, 255, 0) 116.51%
        );
        box-shadow: 0 13px 40px rgb(0 0 0 / 30%), 0 4px 4px rgb(0 0 0 / 20%);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__quote {
          color: #fff;
          font-size: 20px;
          line-height: 30px;
          font-weight: bold;
        }
      }
    }
  }
}
