@import "./variables";
@import "./mixins";

.security-section {
  &__panel {
    margin: 100px 0;

    h2 {
      margin: 0 auto;
      max-width: 480px;
      color: #fff;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
    }

    &__security-icons {
      margin: 56px 0;
      display: flex;
      justify-content: center;

      @include media-xs {
        margin: 32px 0;
        flex-direction: column;
        justify-content: space-around;
        min-height: 350px;
      }

      .security-icon {
        margin: 0 28px;
        text-align: center;
        color: $text-green-color;
        font-weight: 500;

        img {
          margin: 0 auto;
          display: block;
        }
      }
    }

    p {
      margin: 0 auto;
      max-width: 596px;
      text-align: center;

      strong {
        font-weight: 500;
        color: $text-highlight-color;
      }

      a {
        color: $main-text-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
