@import "./variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $main-text-color;

  .container {
    max-width: $max-width;
  }

  main {
    min-height: calc(100vh - 88px - 115px);
  }
}

@import "./header";
@import "./section_main";
@import "./section_founders";
@import "./section_security";
@import "./footer";
