@import "./variables";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Nexa";
  src: url("#{$assets-path}/fonts/NexaDemo-Light.woff") format("woff"),
    url("#{$assets-path}/fonts/NexaDemo-Light.ttf") format("truetype"),
    url("#{$assets-path}/fonts/NexaDemo-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Nexa";
  src: url("#{$assets-path}/fonts/NexaDemo-Bold.woff") format("woff"),
    url("#{$assets-path}/fonts/NexaDemo-Bold.ttf") format("truetype"),
    url("#{$assets-path}/fonts/NexaDemo-Bold.otf") format("opentype");
  font-weight: 700;
}

$font-family: Nexa, sans-serif;

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $main-text-color;

  .container {
    max-width: $max-width;
  }

  main {
    min-height: calc(100vh - 88px - 115px);
  }
}

@import "./header";
@import "./section_main";
@import "./section_founders";
@import "./section_security";
@import "./footer";
